<a href="https://colab.research.google.com/github/kevshakes/deeplearningwithsamfaraday/blob/main/2_Intro_to_NLP_Slicing_Kevin_Tuei.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

# String, List, DataFrame and Arrays Slicing

# String

In [1]:
my_string = "God save the Queen"

In [2]:
# Get the First Letter
my_string[0]

'G'

In [3]:
# Get the Last Letter
my_string[-1]

'n'

In [4]:
# Get the String Len
len(my_string)

18

# List

In [5]:
queen_elizabeth = "It's worth remembering that it is often the small steps, not the giant leaps, \
that bring about the most lasting change"

In [6]:
queen_elizabeth

"It's worth remembering that it is often the small steps, not the giant leaps, that bring about the most lasting change"

In [7]:
# Check the Object Type
type(queen_elizabeth)

str

**Splitting the string by spaces**

It creates a list of words

In [8]:
queen_elizabeth_split_words = queen_elizabeth.split()

In [9]:
queen_elizabeth_split_words

["It's",
 'worth',
 'remembering',
 'that',
 'it',
 'is',
 'often',
 'the',
 'small',
 'steps,',
 'not',
 'the',
 'giant',
 'leaps,',
 'that',
 'bring',
 'about',
 'the',
 'most',
 'lasting',
 'change']

In [10]:
# Check the Object Type
type(queen_elizabeth_split_words)

list

## String Slicing

In [11]:
# Get the first word
queen_elizabeth_split_words[0]

"It's"

In [14]:
# Get the First letter of the First Word
queen_elizabeth_split_words[0][0]

'I'

In [15]:
# Get the Last letter of the First Word
queen_elizabeth_split_words[0][-1]

's'

In [16]:
# Get the Last Word
queen_elizabeth_split_words[-1]

'change'

# Dataframe

In [17]:
import pandas as pd

In [18]:
# Create a Dictionary
my_dict = {
  "Name": ["John", "Mike", "Josh", "Elizabeth"],
  "Age": [10, 12, 14, 94],
  "Country": ["USA", "England", "Nigeria", "England"],

}

In [19]:
# Convert the Dictionary to DataFrame
my_df = pd.DataFrame(my_dict)

In [21]:
my_df

        Name  Age  Country
0       John   10      USA
1       Mike   12  England
2       Josh   14  Nigeria
3  Elizabeth   94  England

## Slicing the Dataframe

A dataframe is divided into rows and columns

In case you have not numbers, like in the image below, it means "get all rows and all columns"

![image.png]()

In [22]:
# Get All Rows and All Columns
my_df.iloc[             :             ,             :             ]

        Name  Age  Country
0       John   10      USA
1       Mike   12  England
2       Josh   14  Nigeria
3  Elizabeth   94  England

In [23]:
# Get All rows, starting at 1, and all columns
my_df.iloc[      1       :             ,             :             ]

        Name  Age  Country
1       Mike   12  England
2       Josh   14  Nigeria
3  Elizabeth   94  England

In [24]:
# Get All rows, starting at 2, and all columns
my_df.iloc[      2       :             ,             :             ]

        Name  Age  Country
2       Josh   14  Nigeria
3  Elizabeth   94  England

In [25]:
# Get All rows and all columns starting at column 1
my_df.iloc[             :             ,      1       :             ]

   Age  Country
0   10      USA
1   12  England
2   14  Nigeria
3   94  England

In [26]:
# Get All rows and all columns starting at column 2
my_df.iloc[             :             ,      2       :             ]

   Country
0      USA
1  England
2  Nigeria
3  England

In [27]:
# Get All rows, but just the Fisrt (0) column
my_df.iloc[ : , 0]

0         John
1         Mike
2         Josh
3    Elizabeth
Name: Name, dtype: object

In [28]:
# Get All rows, but just last (-1) column
my_df.iloc[ : ,-1 ]

0        USA
1    England
2    Nigeria
3    England
Name: Country, dtype: object

In [29]:
# Get only the First row
my_df.iloc[ 0:1 , : ]

   Name  Age Country
0  John   10     USA

In [30]:
# Get only the Last row
my_df.iloc[ -1: , : ]

        Name  Age  Country
3  Elizabeth   94  England

## Split the Dataframe into Features and Labels

In [60]:
my_features = my_df.iloc[             :             ,      3       :             ]
my_labels = my_df.iloc[ : ,-1]

In [33]:
# the line below does the very same thing as the previous one and it is the most used style
my_features, my_labels = my_df.iloc[ : , : 2], my_df.iloc[ : ,-1]

In [34]:
my_features

        Name  Age
0       John   10
1       Mike   12
2       Josh   14
3  Elizabeth   94

In [35]:
my_labels

0        USA
1    England
2    Nigeria
3    England
Name: Country, dtype: object

# Your Turn

In [36]:
# download the data
!wget https://github.com/x4nth055/pythoncode-tutorials/raw/master/machine-learning/customer-churn-detection/Churn_Modelling.csv

--2022-09-10 16:34:30--  https://github.com/x4nth055/pythoncode-tutorials/raw/master/machine-learning/customer-churn-detection/Churn_Modelling.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/x4nth055/pythoncode-tutorials/master/machine-learning/customer-churn-detection/Churn_Modelling.csv [following]
--2022-09-10 16:34:30--  https://raw.githubusercontent.com/x4nth055/pythoncode-tutorials/master/machine-learning/customer-churn-detection/Churn_Modelling.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 674857 (659K) [text/plain]
Saving to: Churn_Modelling.csv

Churn_Modelling.csv 100%[===================>] 659.04K  --.-KB/s    in 0.04s

2022-09-10 16:34:31 (15.2 MB/s) - Churn_Modelling.csv saved [674857/674857]

In [37]:
my_df_churn_modeling = pd.read_csv("Churn_Modelling.csv")

In [38]:
my_df_churn_modeling.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [39]:
my_df_churn_modeling.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Instructions

my_df_churn_modeling dataframe has 14 columns, from 0 to 13

1. Split the dataframe into features, starting from column 3, you do not need columns RowNumber, CustomerId and Surname

2. Label - Exited, last column

In [73]:
my_features = my_df_churn_modeling.iloc[ :,3 :-1 ]

In [71]:
my_labels = my_df_churn_modeling.iloc[ : ,-1]

In [74]:
my_features

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [75]:
my_labels

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

## Expected Results

### Features

![image.png]()

### Labels
![image.png]()